<div class="<%= soort %>SelectionToolCont content-wrapper hide">
	<div class="selectionTool">
		<header class="selectionToolHeader">
			<h5><%= soort %> Selectie</h5>
			<p><span class="<%= soort %>selectionAmount">0</span>/3</p>
		</header>
		<div class="<%= soort %>SelectionUl"></div>
		<div class="<%= soort %>Submit button">opslaan</div>
	</div>
</div>
